@import url(variables.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: var(--font-family-text);
  font-size: var(--font-size-s);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: url(/src/assets/img/milkyway.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.galaxy {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background-image: url(/src/assets/img/milkyway.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* animation: galaxy 20s ease-in-out alternate infinite; */
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-text-accent);
  display: inline-block;
  transition: .25s;
}

a:before {
  content: '🔗';
}

a:hover {
  color: var(--color-text-highlight);
}

.accent, mark {
  color: var(--color-text-accent);
  font-family: var(--font-family-text-accent);
  background: transparent;
}

.code {
  font-family: var(--font-family-text-code);
}

@keyframes galaxy {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.2) rotate(-5deg);
  }
}