@import url(variables.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  background-image: url(/src/assets/img/milkyway.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  line-height: 1.6;
  font-family: var(--font-family-text);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.accent, mark {
  color: var(--color-text-accent);
  font-family: var(--font-family-text-accent);
  background: transparent;
}

.code {
  font-family: var(--font-family-text-code);
}